@* TODO: Posiblemente se elimine esta vista si no es necesaria *@
@{
    ViewData["Title"] = "Política de Privacidad";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5>Gestión de Datos Personales</h5>
        <p>Este sistema de gestión de clientes está diseñado para manejar de forma segura la información personal de clientes y subclientes.</p>
        
        <h6>Información que recopilamos:</h6>
        <ul>
            <li>Nombre completo</li>
            <li>Dirección de correo electrónico</li>
            <li>Número de teléfono</li>
            <li>Información de la empresa</li>
        </ul>
        
        <h6>Uso de la información:</h6>
        <ul>
            <li>Gestión y seguimiento de relaciones comerciales</li>
            <li>Comunicación con clientes</li>
            <li>Organización de datos de contacto</li>
        </ul>
        
        <h6>Seguridad:</h6>
        <p>Implementamos medidas de seguridad apropiadas para proteger la información personal contra acceso no autorizado, alteración, divulgación o destrucción.</p>
    </div>
</div>